@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
:root {
  --color-black: #000000;
  --color-yellow: #FFC61A;
  --color-blue: #1778F2;
  --color-green: #17ED6C;
  --color-red: #FF2A52;
  --color-light: rgba(255,255,255,0.25);
  --color-line: rgba(44,45,47,1);
  --color-grey: #313234;
  --font: "Arimo", sans-serif;
  --gap: 16px;
}

/* === Reset === */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  color: #fff;
  direction: rtl;
  font-size: 16px;
  font-family: var(--font);
  line-height: 22px;
  margin: 0;
}

main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 0 0 var(--gap);
}
p:last-child {
  margin: 0;
}

a, input, textarea {
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
}

.font-bold {
  font-weight: 700;
}

h3, .h3 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 var(--gap);
}

/* === Responsive grid === */
.clear {
  clear: both;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

[class*=grid] {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.grid4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.sm-visible, .tb-visible {
  display: none;
}

.margin_bottom0 {
  margin-bottom: 8px;
}

.margin_bottom {
  margin-bottom: var(--gap);
}

.margin_bottom2 {
  margin-bottom: 24px;
}

.margin_bottom3 {
  margin-bottom: 32px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_height {
  flex: 1;
}

hr {
  background: var(--color-line);
  border: 0;
  clear: both;
  height: 1px;
  display: block;
  padding: 0;
  margin: 24px 0;
  width: 100%;
}

/* font colors */
.color-green {
  color: var(--color-green) !important;
}

.color-yellow {
  color: var(--color-yellow) !important;
}

.color-red {
  color: var(--color-red) !important;
}

/* === FORMS === */
.form-control, .btn {
  font-family: var(--font);
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
}

/* === Text field === */
.form-line {
  margin: 0 0 24px;
}

.form-field {
  background: #313234;
  border-radius: 8px;
  height: 56px;
  position: relative;
}
.form-field.error {
  box-shadow: inset 0 0 0 2px var(--color-red) !important;
}
.form-field .form-label {
  position: absolute;
  right: var(--gap);
  line-height: 30px;
  display: block;
  top: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  transition: all 200ms ease-in-out;
}
.form-field.error .form-label {
  color: var(--color-red);
}
.form-field:focus-within {
  box-shadow: inset 0 0 0 2px var(--color-yellow);
}
.form-field .form-control {
  background: 0;
  border: 0;
  border-radius: 0;
  z-index: 10;
  color: #fff;
  height: 56px;
  font-size: 16px;
  position: relative;
  line-height: 26px;
  padding: 23px var(--gap) 7px;
  width: 100%;
}
.form-field .form-control:focus + .form-label, .form-field .form-control:valid + .form-label {
  font-size: 12px;
  transform: translateY(-11px);
}
.form-field-area {
  height: 101px;
}
.form-field textarea.form-control {
  height: 71px;
  margin-top: 30px;
  padding-top: 0;
}
.form-field-text {
  color: var(--color-red);
  font-size: 14px;
  margin: 4px var(--gap);
}
.form-field .btn_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -16px;
  z-index: 15;
}
.form-field-sign {
  position: absolute;
  left: var(--gap);
  top: 50%;
  margin-top: -11px;
  line-height: 22px;
  z-index: 15;
}

/* simple-input */
.simple-input {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  height: 32px;
  padding: 5px var(--gap);
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
}
.simple-input.full {
  width: 100%;
}

/* === Button === */
.btn {
  background: #fff;
  border: 0;
  border-radius: 8px;
  color: #0a0b0d;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  padding: 13px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm {
  padding: 5px 18px;
}
.btn-facebook, .btn-blue {
  background: #1778f2;
  color: #fff;
}
.btn-yellow {
  background: var(--color-yellow);
}
.btn-red {
  background: var(--color-red);
}
.btn-outline-yellow {
  box-shadow: inset 0 0 0 2px var(--color-yellow);
  color: var(--color-yellow);
  background: 0;
}
.btn-outline-yellow:active {
  background: var(--color-yellow);
  color: var(--color-black);
}
.btn-secondary {
  background: #9d9d9e;
  color: #fff;
}
.btn-empty {
  background: 0 !important;
  color: var(--color-yellow);
}
.btn-facebook::after, .btn-apple::after, .btn-google::after, .btn-email::after {
  content: "";
  position: absolute;
  display: block;
  right: 16px;
  top: 50%;
  margin-top: -11px;
}
.btn-facebook::after {
  background-image: url("../images/svg/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}
.btn-apple::after {
  background-image: url("../images/svg/apple.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 22px;
}
.btn-google::after {
  background-image: url("../images/svg/google.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}
.btn-email::after {
  background-image: url("../images/svg/envelope.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}
.btn:disabled {
  background: #9d9d9e !important;
  color: #fff !important;
  cursor: default;
}

/* btn_icon */
.btn_icon {
  background: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 0;
  border-radius: 0;
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  width: 34px;
  height: 34px;
}
.btn_icon-refresh {
  background-image: url(../images/svg/redo.svg);
}
.btn_icon-search {
  background-image: url(../images/svg/search.svg);
}
.btn_icon-info {
  background-image: url(../images/svg/info.svg);
}
.btn_icon-load {
  background-image: url(../images/svg/redo.svg);
}
.btn_icon-back {
  background-image: url(../images/svg/arrow.svg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.btn_icon-star {
  background-image: url(../images/svg/star-o-yellow.svg);
}
.btn_icon-filter {
  background-image: url(../images/svg/filter-white.svg);
}
.btn_icon-trash {
  background-image: url(../images/svg/trash.svg);
}
.btn_icon-trash-red {
  background-image: url(../images/svg/trash-red.svg);
}
.btn_icon-envelope {
  background-image: url(../images/svg/envelope.svg);
}
.btn_icon-envelope-white {
  background-image: url(../images/svg/envelope-white.svg);
}
.btn_icon-headset {
  background-image: url(../images/svg/headset.svg);
}
.btn_icon-eye {
  background-image: url(../images/svg/eye-slash.svg);
}
.btn_icon-eye.active {
  background-image: url(../images/svg/eye.svg);
}
.btn_icon-heart {
  background-image: url(../images/svg/heart-red.svg);
}
.btn_icon-star_yellow {
  background-image: url(../images/svg/star-o-yellow.svg);
}
.btn_icon-sq {
  background-color: var(--color-grey);
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.btn_icon-sq-star {
  background-image: url(../images/svg/star-yellow.svg);
}
.btn_icon-sq-share {
  background-image: url(../images/svg/share.svg);
}
.btn_icon-sq-bell {
  background-image: url(../images/svg/bell-green.svg);
}

/* check-field */
.check-field {
  position: relative;
  display: block;
  padding-right: 36px;
  cursor: pointer;
}
.check-field input {
  position: absolute;
  right: 0;
  top: 0;
}
.check-field a {
  color: var(--color-yellow);
}

input[type=checkbox], input[type=radio] {
  background: url(../images/svg/check.svg) -9999px -9999px/14px no-repeat;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  cursor: pointer;
}
input[type=checkbox]:checked, input[type=radio]:checked {
  background-color: var(--color-yellow);
  background-position: center center;
  border-color: transparent;
}

input[type=radio] {
  background-image: url(../images/svg/radio.svg);
  background-color: transparent !important;
  border-color: var(--color-yellow) !important;
  background-size: 10px;
  border-radius: 50%;
}

.check-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 14px 0;
}
.check-line:last-child {
  border-bottom: 0;
}

/* toggle */
.toggle {
  width: 34px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.toggle label {
  display: block;
  height: 20px;
  cursor: pointer;
}
.toggle label::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  border-radius: 8px;
  height: 12px;
  top: 4px;
  background: var(--color-black);
}
.toggle input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.toggle-handle {
  background: #9d9d9e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 100ms linear;
  z-index: 10;
}
input[type=checkbox]:checked + .toggle-handle {
  background: var(--color-yellow);
  transform: translateX(14px);
}

/* selectbox */
.selectbox {
  display: block;
  position: relative;
}
.selectbox-header {
  background: var(--color-grey);
  border-radius: 8px;
  display: block;
  padding: 12px var(--gap);
  position: relative;
  text-decoration: none;
}
.selectbox-header::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/caret-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  left: var(--gap);
  top: 50%;
  margin-top: -5px;
}
.selectbox-label {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 1px;
}
.selectbox-dropdown {
  background: #454547;
  border-radius: 0 0 8px 8px;
  max-height: 200px;
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  overflow: auto;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.55);
}
.selectbox-dropdown ul {
  margin: 0;
  padding: 0;
}
.selectbox-dropdown li {
  list-style: none;
  padding: var(--gap);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.selectbox-dropdown li:active {
  background: var(--color-grey);
}
.selectbox.opened {
  z-index: 100;
}
.selectbox.opened .selectbox-header {
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0 0 0 2px var(--color-yellow);
}
.selectbox.opened .selectbox-header::after {
  background-image: url(../images/svg/caret-yellow.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.selectbox.opened .selectbox-dropdown {
  display: block;
}

/* carets */
.caret-down, .caret-up {
  background-image: url("../images/svg/caret.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 14px;
}

.caret-up {
  background-image: url(../images/svg/caret-green.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* btn_fix */
.fix_buttons {
  position: fixed;
  bottom: 80px;
  z-index: 500;
}
.fix_buttons .btn_fix-hide {
  opacity: 0;
  visibility: hidden;
}
.fix_buttons.opened .fix_buttons-content .btn_fix-hide {
  opacity: 1;
  visibility: visible;
}
.fix_buttons.opened .fix_buttons-content .btn_fix-hide:nth-child(3) {
  transform: translateY(-192px);
}
.fix_buttons.opened .fix_buttons-content .btn_fix-hide:nth-child(2) {
  transform: translateY(-128px);
}
.fix_buttons.opened .fix_buttons-content .btn_fix-hide:nth-child(1) {
  transform: translateY(-64px);
}

.btn_fix {
  background-color: var(--color-yellow);
  width: 56px;
  height: 56px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  background-size: 20px;
  border-radius: 50%;
  display: block;
  right: var(--gap);
  border: 0;
  position: relative;
}
.btn_fix-plus {
  background-image: url(../images/svg/plus.svg);
}
.btn_fix-dots {
  background-image: url(../images/svg/ellipsis.svg);
}
.btn_fix-chart {
  background-image: url(../images/svg/chart-line.svg);
}
.btn_fix-pen {
  background-image: url(../images/svg/pen.svg);
  background-size: 28px;
}
.btn_fix-list {
  background-image: url(../images/svg/list.svg);
}
.btn_fix-filter {
  background-image: url(../images/svg/filter.svg);
}
.btn_fix-hide {
  transition: all 200ms ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* image_circle */
.image_circle {
  background: var(--color-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 32px;
  width: 200px;
  height: 200px;
}
.image_circle img {
  display: block;
  max-width: 138px;
}
.image_circle.big {
  width: 240px;
  height: 240px;
}
.image_circle.big img {
  width: 148px;
}

/* button_list */
.button_list .btn {
  margin: 0 0 var(--gap);
}
.button_list .btn:last-child {
  margin: 0;
}

/* indexlist_temp */
.indexlist_temp li {
  position: relative;
  padding-right: 30px;
}
.indexlist_temp li::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-green);
  right: 4px;
  top: 50%;
  margin-top: -6px;
}
.indexlist_temp li.dev::after {
  background-color: var(--color-yellow);
}

/* rating */
.rating {
  display: inline-flex;
  direction: ltr;
}
.rating span {
  background: url(../images/svg/star-yellow.svg) center center/20px no-repeat;
  display: block;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin: 0 3px 0 0;
}
.rating span.active {
  background-image: url(../images/svg/star-o-yellow.svg);
}
.rating-full {
  display: flex;
  justify-content: center;
  margin: 0 0 30px;
}
.rating-full span {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  background-size: 24px;
}

/* range */
.rs-container {
  height: 24px;
}
.rs-container .rs-bg {
  background: var(--color-black);
  border: 0;
  height: 8px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 100%;
  border-radius: 8px;
}
.rs-container .rs-selected {
  background: var(--color-yellow);
  border: 0;
  border-radius: 8px;
  height: 8px;
  top: 8px;
}
.rs-container .rs-pointer {
  background: #fff;
  border: 4px solid var(--color-black);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: -12px;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 24px;
  box-shadow: none;
}
.rs-container .rs-scale {
  top: -20px;
}
.rs-container .rs-scale span::before {
  content: none;
  display: none;
}
.rs-container .rs-scale span ins {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

/* modal */
.fancybox__backdrop {
  background: #0a0b0d;
}

.fancybox__slide {
  padding: 4px 16px;
}

.modal {
  background: #454547;
  border-radius: 8px;
  padding: var(--gap);
  direction: rtl;
  display: none;
  position: relative;
  color: #fff;
  width: 100%;
  max-width: 380px;
}
.modal a {
  color: var(--color-yellow);
}
.modal-title {
  font-weight: 700;
  margin: 0 0 30px;
}
.modal-btns {
  display: flex;
  justify-content: flex-end;
}
.modal-btns .btn {
  margin-right: var(--gap);
  font-weight: 700;
}
.modal-btns .btn:first-child {
  margin-right: 0;
}
.modal-btns.full .btn {
  flex: 1;
}

/* start_screen */
.start_screen {
  background: var(--color-yellow);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  padding-bottom: 60px;
  animation: hideStart 400ms ease-in-out 5s 1 forwards;
}
.start_screen-images img {
  display: block;
  margin: 0 auto 8px;
  position: relative;
}
.start_screen-images img:last-child {
  margin-bottom: 0;
}
.start_screen-loader {
  position: absolute;
  left: 0;
  bottom: 32px;
  width: 100%;
  color: var(--color-black);
}
.start_screen-script1 {
  animation: hideImg 400ms ease-in-out 2.5s 1 forwards;
}
.start_screen-script2 {
  animation: showImg 400ms ease-in-out 2.5s 1 backwards;
}

@keyframes hideStart {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes showImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hideImg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader {
  width: 40px;
  height: 40px;
  margin: 0 auto var(--gap);
  border: 5px solid #0A0B0D;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* mainbody */
.wrapper {
  padding: 0 var(--gap);
}

.mainbody {
  background: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-bottom: 64px;
  height: 100%;
}
.mainbody-content {
  flex: 1;
  overflow: auto;
  padding: var(--gap) 0;
}
.mainbody-content.nopad_top {
  padding-top: 0;
}
.mainbody-content.pad {
  padding-top: 32px;
}
.mainbody.nofooter {
  padding-bottom: 0;
}

/* navbar */
.navbar {
  background: var(--color-black);
  border-top: 1px solid var(--color-line);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64px;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar li {
  flex: 1;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}
.navbar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  height: 64px;
  text-align: center;
  padding-top: 12px;
}
.navbar li a::before {
  content: "";
  display: block !important;
  margin: 0 auto 4px;
}
.navbar li a.active {
  color: var(--color-yellow);
}
.navbar-bars::before {
  background-image: url("../images/svg/bars.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-bars.active::before {
  background-image: url(../images/svg/bars-yellow.svg);
}
.navbar-star::before {
  background-image: url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-star.active::before {
  background-image: url(../images/svg/star-yellow.svg);
}
.navbar-heart::before {
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-heart.active::before {
  background-image: url(../images/svg/heart-o-yellow.svg);
}
.navbar-bell::before {
  background-image: url("../images/svg/bell.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-bell.active::before {
  background-image: url(../images/svg/bell-yellow.svg);
}
.navbar-briefcase::before {
  background-image: url("../images/svg/briefcase.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-briefcase.active::before {
  background-image: url(../images/svg/briefcase-yellow.svg);
}
.navbar-chart-bar::before {
  background-image: url("../images/svg/chart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.navbar-chart-bar.active::before {
  background-image: url(../images/svg/chart-yellow.svg);
}
.navbar.active {
  color: var(--color-yellow);
}

/* appheader */
.fixheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.appheader {
  background: #0a0b0d;
  border-bottom: 1px solid var(--color-line);
  display: flex;
  align-items: center;
  height: 56px;
  padding: 4px var(--gap);
}
.appheader-time {
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-right: 28px;
}
.appheader-time em {
  color: var(--color-light);
  font-style: normal;
  margin: 0 2px;
}
.appheader-time::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/clock.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
}
.appheader-time-right {
  padding-left: 28px;
  padding-right: 0;
}
.appheader-time-right::before {
  left: 0;
  right: auto;
}
.appheader .btn_icon {
  margin-right: 10px;
}
.appheader .btn_icon:first-child {
  margin-right: 0;
}
.appheader-left, .appheader-right {
  min-width: 36px;
}
.appheader-middle {
  text-align: center;
  flex: 1;
  padding: 0 var(--gap);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* tabs */
.tabs {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.tabs li {
  list-style: none;
  margin-left: 8px;
  flex: 1;
}
.tabs li:last-child {
  margin-left: 0;
}
.tabs-btn {
  display: block;
  padding: 6px;
  color: #fff;
  background: var(--color-grey);
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}
.tabs-btn.active {
  background: var(--color-yellow) !important;
  color: var(--color-black);
}

.module .tabs li a {
  background: var(--color-black);
}

/* tabs_swiper */
.tabs_swiper {
  overflow: hidden;
  padding: 0 var(--gap);
}
.tabs_swiper .swiper-slide {
  width: auto;
}

/* module */
.module {
  background: var(--color-grey);
  border-radius: 8px;
  margin: 0 0 var(--gap);
  padding: 0;
  position: relative;
}
.module-route {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  border-radius: 8px;
  z-index: 10;
}
.module-header {
  padding: 24px var(--gap);
  position: relative;
}
.module-header .btn_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -16px;
}
.module-title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.module-title-tag {
  background: var(--color-green);
  border-radius: 8px;
  color: var(--color-black);
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  margin-right: 8px;
}
.module-indicator {
  display: block;
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-green);
  margin-left: 8px;
}
.module-indicator.yellow {
  background: var(--color-yellow);
}
.module-indicator.red {
  background: var(--color-red);
}
.module-content {
  padding: 0 0 8px;
}
.module-numbers {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  padding: 0 var(--gap) var(--gap);
  display: flex;
  align-items: center;
}
.module-numbers span {
  margin-right: 8px;
}
.module-numbers div {
  margin-right: 14px;
}
.module-numbers div:first-child {
  margin-right: 0;
}
.module-footer {
  display: flex;
  padding: 8px var(--gap) var(--gap);
  line-height: 18px;
}
.module-footer div {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  padding-left: 10px;
}
.module-footer div:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}
.module-footer em {
  font-style: normal;
  margin-left: 8px;
}

/* module-banner */
.module-banner {
  background: url(../images/banner.webp) center center/cover no-repeat;
  border-radius: 8px;
  padding: var(--gap);
  margin: 0 0 var(--gap);
}
.module-banner-more {
  position: relative;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
}
.module-banner-more::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

/* loadmore */
.loadmore {
  padding: 0 var(--gap);
}
.loadmore-btn {
  margin: 0 auto;
}

/* listbox */
.listbox {
  margin: 0;
  padding: 0;
}
.listbox-item {
  display: flex;
  text-decoration: none;
  padding: 4px var(--gap);
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}
.listbox-item:nth-child(even) {
  background: #1a1a1c;
}
.listbox-name {
  font-size: 16px;
}
.listbox-name small {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 4px;
}
.listbox-val {
  font-size: 20px;
  font-weight: 700;
  direction: ltr;
}
.listbox-val small {
  font-size: 16px;
  color: var(--color-yellow);
  border-left: 1px solid #454547;
  margin-left: 4px;
  padding-left: 8px;
}
.listbox-arrow {
  background-image: url("../images/svg/arrow-green.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.listbox-arrow-green {
  transform: rotate(45deg);
}
.listbox-arrow-orange {
  background-image: url(../images/svg/arrow-orange.svg);
  transform: rotate(90deg);
}
.listbox-arrow-red {
  background-image: url(../images/svg/arrow-red.svg);
  transform: rotate(135deg);
}

/* colors_pick */
.colors_pick {
  display: flex;
  justify-content: center;
  margin: 0 0 16px;
  padding: 0;
}
.colors_pick li {
  list-style: none;
  margin: 0 8px 0 0;
}
.colors_pick li:first-child {
  margin: 0;
}
.colors_pick-item {
  display: flex;
  align-items: center;
  height: 24px;
  cursor: pointer;
}
.colors_pick-item span {
  border-radius: 4px;
  width: 32px;
  height: 16px;
  background: var(--color-red);
  display: block;
  position: relative;
}
.colors_pick-item span::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/polygon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 20px;
  left: 50%;
  margin-left: -12px;
  top: -10px;
  display: none;
}
.colors_pick-item input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.colors_pick-item input:checked + span {
  width: 88px;
  height: 24px;
}
.colors_pick-item input:checked + span::after {
  display: block;
}
.colors_pick-orange span {
  background: #FFC61A;
}
.colors_pick-yellow span {
  background: #FFF71A;
}
.colors_pick-green span {
  background: #17ed29;
}
.colors_pick-lightgreen span {
  background: #17ed6c;
}
.colors_pick-text {
  text-align: center;
  margin: 0 12px 20px;
}

/* first_screen */
.first_screen {
  padding: 32px var(--gap);
  text-align: center;
}
.first_screen-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 15px;
}
.first_screen-meta {
  text-align: center;
  margin: 0 0 15px;
}
.first_screen-meta span {
  border-left: 1px solid var(--color-line);
  padding-left: 12px;
  margin-left: 8px;
}
.first_screen-meta span:last-child {
  border: 0;
  margin-left: 0;
  padding-left: 0;
}
.first_screen-info {
  font-size: 32px;
  line-height: 34px;
  margin: 0 0 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_screen-info:last-child {
  margin: 0;
}
.first_screen-info span {
  margin: 0 14px;
}
.first_screen-info .caret-down, .first_screen-info .caret-up {
  margin: 0 4px !important;
}
.first_screen-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_screen-btns .btn_icon {
  margin-left: 8px;
}
.first_screen-btns:first-child {
  margin-left: 0;
}

/* finance_slider */
.finance_slider {
  overflow: hidden;
  padding: 0 var(--gap);
  margin: 0 0 var(--gap);
}
.finance_slider .swiper-slide {
  width: 216px;
}
.finance_slider-item {
  background: #1a1a1c;
  border-radius: 8px;
  padding: var(--gap);
}
.finance_slider-title {
  margin: 0 0 3px;
  display: block;
}
.finance_slider-val {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin: 0 0 15px;
  display: block;
}
.finance_slider-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: block;
}

/* search_header */
.search_header {
  background: #313234;
  height: 56px;
}
.search_header-input {
  background: 0;
  height: 56px;
  width: 100%;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  padding: 8px 60px;
  font-size: 16px;
  line-height: 40px;
  font-family: var(--font);
  color: #fff;
}
.search_header-input::placeholder {
  color: var(--color-light);
}
.search_header .btn_icon-back {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -16px;
}
.search_header .btn_icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -16px;
}

.recent-searches {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 22px;
  padding: 0 var(--gap) 7px;
}

/* search_item */
.search_item {
  display: flex;
  align-items: center;
  min-height: 72px;
  padding: 8px var(--gap);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  transition: all 200ms ease-in-out;
  justify-content: space-between;
}
.search_item:hover {
  background: #1a1a1a;
}
.search_item-list {
  margin-bottom: var(--gap);
}
.search_item-title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.search_item-text {
  font-weight: 400;
}
.search_item-indicator {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  margin-left: 8px;
  background: var(--color-green);
}
.search_item-indicator.red {
  background: var(--color-red);
}
.search_item-indicator.yellow {
  background: var(--color-yellow);
}
.search_item-left {
  text-align: left;
}
.search_item-percent {
  position: relative;
  padding-left: 16px;
}
.search_item-percent::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  background-image: url("../images/svg/caret.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  margin-top: -4px;
}
.search_item-percent.down {
  color: var(--color-red);
}
.search_item-percent.up {
  color: var(--color-green);
}
.search_item-percent.up::after {
  background-image: url(../images/svg/caret-green.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* sidemenu */
.sidemenu {
  transition: all 200ms ease-in-out;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.sidemenu_overlay {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sidemenu_body {
  background: #313234;
  width: 100%;
  max-width: 304px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 200ms ease-in-out;
  transform: translateX(400px);
  z-index: 10;
}
.sidemenu-card {
  background: var(--color-yellow);
  padding: 36px var(--gap);
  color: var(--color-black);
  border-radius: 0 0 var(--gap) var(--gap);
  text-align: center;
}
.sidemenu-name {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 7px;
}
.sidemenu-img {
  background: #fff;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  margin: 0 auto var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidemenu-img img {
  display: block;
  margin: 0 auto;
  max-width: 71px;
}
.sidemenu_nav {
  margin: 0;
  padding: var(--gap) 0 0;
}
.sidemenu_nav li {
  list-style: none;
}
.sidemenu_nav li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 13px 54px 13px var(--gap);
  transition: all 200ms ease-in-out;
}
.sidemenu_nav li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.sidemenu_nav li a::after {
  content: "";
  position: absolute;
  display: block;
  right: var(--gap);
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidemenu_nav-chart-bar::after {
  background-image: url(../images/svg/chart.svg);
}
.sidemenu_nav-briefcase::after {
  background-image: url(../images/svg/briefcase.svg);
}
.sidemenu_nav-star::after {
  background-image: url(../images/svg/star.svg);
}
.sidemenu_nav-bell::after {
  background-image: url(../images/svg/bell.svg);
}
.sidemenu_nav-radar::after {
  background-image: url(../images/svg/satellite.svg);
}
.sidemenu_nav-cog::after {
  background-image: url(../images/svg/gear.svg);
}
.sidemenu_nav-headset::after {
  background-image: url(../images/svg/headset.svg);
}

body.sidemenu_opened {
  height: 100%;
  overflow: hidden;
}
body.sidemenu_opened .sidemenu {
  opacity: 1;
  visibility: visible;
}
body.sidemenu_opened .sidemenu_body {
  transform: translateX(0);
}

/* loginpage */
.loginpage {
  padding: 0;
}
.loginpage .mainbody-content {
  padding: 0;
}
.loginpage-monkey {
  position: relative;
  overflow: hidden;
  height: 343px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginpage-monkey::after {
  content: "";
  position: absolute;
  display: block;
  background: var(--color-yellow);
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  width: 1600px;
  height: 1600px;
  margin-left: -800px;
}
.loginpage-monkey-imgs {
  position: relative;
  z-index: 10;
}
.loginpage-monkey img {
  display: block;
  margin: 0 auto var(--gap);
}
.loginpage-monkey img:last-child {
  margin-bottom: 0;
}
.loginpage-content {
  padding: 40px var(--gap);
}
.loginpage-content .btn {
  margin: 0 0 var(--gap);
}
.loginpage-content .btn:last-child {
  margin: 0;
}
.loginpage-links {
  text-align: center;
  padding: 0 var(--gap) 40px;
}
.loginpage-links a {
  margin-left: 11px;
}
.loginpage-links a:last-child {
  margin-left: 0;
}
.loginpage-or {
  position: relative;
  text-align: center;
  margin: 32px 0;
}
.loginpage-or::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: var(--color-line);
}
.loginpage-or span {
  display: inline-block;
  padding: 0 12px;
  background: var(--color-black);
  position: relative;
  z-index: 10;
}

/* segments */
.segments {
  background: var(--color-black);
  border-bottom: 1px solid var(--color-line);
  margin: 0 0 var(--gap);
  padding: 0;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}
.segments li {
  list-style: none;
  flex: 1;
  text-align: center;
}
.segments li a {
  display: flex;
  color: #fff;
  text-decoration: none;
  height: 56px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.segments li a::after {
  content: "";
  position: absolute;
  display: block;
  background: var(--color-yellow);
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 1px;
  display: none;
}
.segments li a.active {
  color: var(--color-yellow);
}
.segments li a.active::after {
  display: block;
}
.segments-filter {
  min-width: 56px;
  max-width: 56px;
  flex: auto;
}
.segments-filter a {
  background: url(../images/svg/filter-white.svg) center center/20px no-repeat;
}

/* infoblock */
.infoblock {
  background: var(--color-grey);
  border-radius: 8px;
  text-align: center;
  padding: 8px var(--gap);
  display: flex;
  align-items: center;
  min-height: 104px;
  margin-bottom: var(--gap);
  position: relative;
}
.infoblock-inner {
  width: 100%;
}
.infoblock-title {
  margin-bottom: 7px;
}
.infoblock-sm {
  margin-top: 7px;
}
.infoblock-val {
  font-size: 20px;
  font-weight: 700;
}
.infoblock .btn_icon {
  position: absolute;
  left: 6px;
  top: 6px;
}

/* switcher */
.switcher {
  display: flex;
  position: relative;
  box-shadow: inset 0 0 0 2px var(--color-grey);
  border-radius: 8px;
}
.switcher-item {
  flex: 1;
  position: relative;
  display: block;
}
.switcher-name {
  display: block;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
}
.switcher input[type=radio] {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
input[type=radio]:checked + .switcher-name {
  background: var(--color-green);
  color: var(--color-black);
}
.switcher-red input[type=radio]:checked + .switcher-name {
  background: var(--color-red);
}
.switcher-grey input[type=radio]:checked + .switcher-name {
  background: #9d9d9e;
}

/* filter_item */
.filter_item {
  margin-bottom: var(--gap);
  border: 2px solid transparent;
  border-radius: 9px;
}
.filter_item.green {
  border-color: var(--color-green);
}
.filter_item.red {
  border-color: var(--color-red);
}
.filter_item-header {
  background: var(--color-grey);
  position: relative;
  border-radius: 6px;
  display: block;
  padding: 13px var(--gap) 13px 34px;
  color: #fff;
  text-decoration: none;
}
.filter_item-header::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/caret-yellow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  left: var(--gap);
  top: 50%;
  margin-top: -4px;
}
.filter_item-content {
  background: #454547;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  height: 0;
  padding: 0;
}
.filter_item-content_inner {
  padding: var(--gap);
}
.filter_item-price {
  background: var(--color-grey);
  border-radius: 8px;
  padding: 10px var(--gap);
  flex: 1;
  margin-left: var(--gap);
}
.filter_item-price span {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 1px;
}
.filter_item-range {
  display: flex;
  align-items: center;
  direction: rtl;
}
.filter_item-range_body {
  flex: 1;
  margin-right: var(--gap);
}
.filter_item-range_val {
  background: var(--color-yellow);
  border-radius: 8px;
  width: 64px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-black);
  font-weight: 700;
  direction: ltr;
}
.filter_item-range_val.bell {
  background-image: url(../images/svg/bell-black.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.filter_item.opened .filter_item-header {
  border-radius: 8px 8px 0 0;
}
.filter_item.opened .filter_item-header::after {
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.filter_item.opened .filter_item-content {
  height: auto;
}

/* filter_bottom */
.filter_bottom {
  background: var(--color-grey);
  border-radius: 8px;
  padding: var(--gap);
}

/* alert_item */
.alert_item {
  background: var(--color-grey);
  border-radius: 8px;
  margin: 0 0 var(--gap);
}
.alert_item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap);
}
.alert_item-title {
  display: block;
  position: relative;
  padding-right: 20px;
}
.alert_item-title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/caret-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  right: 0;
  top: 5px;
}
.alert_item-content {
  display: none;
  padding: 0 0 8px;
}
.alert_item .search_item:nth-child(even) {
  background: #1a1a1c;
}
.alert_item.opened .alert_item-title::after {
  background-image: url(../images/svg/caret-yellow.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.alert_item.opened .alert_item-content {
  display: block;
}

/* sett_card */
.mainbody.sett_page {
  padding: 0;
}

.sett_card {
  background: var(--color-yellow);
  border-radius: 0 0 16px 16px;
  height: 180px;
  padding: 56px var(--gap) 0;
  display: flex;
  align-items: center;
}
.sett_card .fixheader {
  position: absolute;
}
.sett_card .appheader {
  background: 0;
  border-color: rgba(49, 50, 52, 0.16);
  color: var(--color-black);
}
.sett_card .appheader a {
  color: inherit;
}
.sett_card .btn_icon-back {
  background-image: url(../images/svg/arrow-black.svg);
}

/* sett_user */
.sett_user {
  display: flex;
  align-items: center;
  color: var(--color-black);
}
.sett_user-img {
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sett_user-img img {
  display: block;
  max-width: 52px;
}
.sett_user-details {
  padding-right: var(--gap);
}
.sett_user-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 6px;
}

/* sett_footer */
.sett_footer {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: var(--gap);
}
.sett_footer a {
  color: var(--color-yellow);
}
.sett_footer span {
  margin-left: 20px;
}
.sett_footer span:last-child {
  margin-left: 0;
}

/* sett_module */
.sett_module {
  background: var(--color-grey);
  border-radius: 8px;
  margin: 0 0 var(--gap);
  padding: 8px var(--gap);
  display: flex;
  align-items: center;
  min-height: 56px;
  justify-content: space-between;
  position: relative;
}
.sett_module.block {
  display: block;
  padding: var(--gap);
}
.sett_module-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 24px;
}
.sett_module-item:last-child {
  margin: 0;
}

/* footer_btns */
.footer_btns {
  margin-bottom: var(--gap);
}
.footer_btns:last-child {
  margin-bottom: 0;
}

/* success_screen */
.success_screen {
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  color: var(--color-black);
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.success_screen img {
  display: block;
  width: 179px;
  margin: 0 auto 24px;
}
.success_screen-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

/* discovery_buttons */
.discovery_buttons {
  display: flex;
  padding: 8px var(--gap);
  align-items: center;
}
.discovery_buttons-btn {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 198, 26, 0.24);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 0;
}
.discovery_buttons-prev, .discovery_buttons-next {
  background-image: url(../images/svg/larr-yellow.svg);
}
.discovery_buttons-prev {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: auto;
}
.discovery_buttons-next {
  margin-right: auto;
}
.discovery_buttons-like {
  background-color: var(--color-green);
  background-image: url(../images/svg/heart-o-black.svg);
}
.discovery_buttons-dislike {
  background-color: var(--color-red);
  background-image: url(../images/svg/heart-crack.svg);
  margin-right: var(--gap);
}

/* discovery_card */
.discovery_card {
  margin: var(--gap) auto 24px;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.discovery_card-tag {
  position: absolute;
  left: 50%;
  background: var(--color-yellow);
  border-radius: 8px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-black);
  padding: 2px var(--gap);
  transform: translateX(-50%);
  top: -12px;
}
.discovery_card-inner {
  background: var(--color-grey);
  border-radius: 8px;
  position: relative;
  z-index: 5;
}
.discovery_card::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  border-radius: 8px;
  background: #454547;
  left: var(--gap);
  right: var(--gap);
  bottom: -8px;
  z-index: 1;
}
.discovery_card-chart img {
  display: block;
  width: 100%;
}
.discovery_card-top, .discovery_card-bottom {
  padding: var(--gap);
}
.discovery_card .first_screen-meta {
  text-align: right;
  margin: 0 0 5px;
}
.discovery_card .first_screen-info {
  justify-content: flex-start;
  font-size: 24px;
  line-height: 28px;
}
.discovery_card .colors_pick {
  margin: 0;
}
.discovery_card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 0 7px;
}
.discovery_card-title2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 12px;
  text-align: center;
}
.discovery_card .btn_icon-info {
  position: absolute;
  left: 8px;
  top: 8px;
}
.discovery_card-react {
  background: var(--color-green) url(../images/svg/monkey-happy.svg) center center/145px no-repeat;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  transition: all 200ms ease-in-out;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}
.discovery_card-react.shown {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.discovery_card-react.angry {
  background-color: var(--color-red);
  background-image: url(../images/svg/monkey-angry.svg);
}
.discovery_card-block {
  background: #1a1a1c;
  border-radius: 8px;
  padding: 10px var(--gap);
  position: relative;
}
.discovery_card-block.flexed {
  display: flex;
  align-items: center;
}
.discovery_card-block small {
  font-size: 12px;
  line-height: 16px;
  margin-right: var(--gap);
}
.discovery_card-block.iconed::after {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/svg/arrow-green.svg) center center/12px no-repeat;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  left: var(--gap);
  top: 50%;
  margin-top: -10px;
}
.discovery_card-block.iconed.down::after {
  background-image: url(../images/svg/arrow-red.svg);
  transform: rotate(45deg);
}
.discovery_card-block.iconed.mid::after {
  background-image: url(../images/svg/arrow-orange.svg);
  transform: rotate(0deg);
}

/* discovery_list */
.discovery_wrap {
  overflow: auto;
  max-height: 218px;
}
.discovery_wrap .discovery_list:nth-child(even) {
  background: #1a1a1c;
}

.discovery_list {
  display: flex;
  align-items: center;
  padding: 10px var(--gap);
}
.discovery_list-right {
  min-width: 100px;
  max-width: 100px;
}
.discovery_list-left {
  min-width: 48px;
  max-width: 48px;
  text-align: left;
}
.discovery_list-title {
  margin: 0 0 3px;
}
.discovery_list-val {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.discovery_list-text {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.discovery_list-icon {
  background-color: var(--color-green);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 8px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/svg/dollar.svg);
}
.discovery_list-icon.exclamation {
  background-image: url(../images/svg/exclamation.svg);
  background-color: var(--color-red);
}
.discovery_list-icon.check {
  background-image: url(../images/svg/check.svg);
}